<h2 class="text-xl font-semibold mb-4">Lista de Elementos</h2>
<div class="flex justify-start mb-4">
  <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 cursor-pointer" (click)="crear()">Crear</button>
</div>
<div class="container">
  <table class="w-full border border-gray-300 rounded-lg mb-4">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2 text-left">ID</th>
        <th class="px-4 py-2 text-left">Nombre</th>
        <th class="px-4 py-2 text-left">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (categoria of categorias; track categoria.id) {
      <tr>
        <td>{{categoria.id}}</td>
        <td>{{categoria.nombre}}</td>
        <td>
          <div class="relative group inline-block">
            <button type="button" class="p-2 rounded-full hover:bg-gray-300 focus:outline-none" (click)="editar(categoria)">Editar</button>
            <button type="button" class="p-2 rounded-full hover:bg-gray-300 focus:outline-none" (click)="eliminar(categoria)">Eliminar</button>
          </div>
        </td>
      </tr>
    }
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="pagination space-x-2">
    <button 
      [disabled]="currentPage === 1"
      (click)="onPageChange(currentPage - 1)">
      Anterior
    </button>
    <span>Página {{currentPage}} de {{totalPaginas}}</span>
    <button 
      [disabled]="currentPage >= totalItems / itemsPerPage"
      (click)="onPageChange(currentPage + 1)">
      Siguiente
    </button>
  </div>
</div>
