<h1 class="text-2xl font-bold">Links</h1>
<div class="flex flex-col gap-4">
  <div class="flex justify-start mt-4">
      <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="nuevoLink()">
          <i class="fa-solid fa-plus"></i>
          Nuevo Link
      </button> -->
  </div>
</div>
<div class="container mt-4">
  <table class="w-full border border-gray-300 rounded-lg mb-4">
    <thead class="bg-gray-200">
      <th class="px-4 py-2 text-left">ID</th>
      <th class="px-4 py-2 text-left">Nombre</th>
      <th class="px-4 py-2 text-left">Acciones</th>
    </thead>
    <tbody>
      <!-- @for (link of links; track link.id) {
        <tr class="hover:bg-gray-100 cursor-pointer">
          <td>{{link.id}}</td>
          <td>{{link.nombre}}</td>
          <td class="p-2">
            <div class="relative group inline-block">
              <button class="bg-blue-500 text-white p-2 rounded-full hover:bg-gray-300 focus:outline-none mr-2 cursor-pointer" (click)="editar(link.id)">Editar</button>
            </div>
            <div class="relative group inline-block">
              <button class="bg-blue-500 text-white p-2 rounded-full hover:bg-gray-300 focus:outline-none cursor-pointer mr-2" (click)="verNiveles(link.id)">Ver Niveles</button>
            </div>
            <div class="relative group inline-block">
              <button class="bg-red-500 text-white p-2 rounded-full hover:bg-gray-300 focus:outline-none cursor-pointer" (click)="eliminar(link.id)">Eliminar</button>
            </div>
          </td>
        </tr>
      } -->
    </tbody>
  </table>
  <div class="flex justify-center space-x-2">
    <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="anterior()">Anterior</button>
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="siguiente()">Siguiente</button> -->
  </div>
</div>
