<div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        @for(column of columnas; track column){
          <th class="px-4 py-2 border">
            {{column}}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for(row of data; track row){
        <tr class="hover:bg-gray-100">
          @for(column of columnas; track column){
            <td class="px-4 py-2 border">
              {{ row[column] }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="mt-4">
  <button (click)="page = page - 1" [disabled]="page === 1">Anterior</button>
  <span>Página {{ page }}</span>
  <button (click)="page = page + 1" [disabled]="page * pageSize >= data.length">Siguiente</button>
</div>