
<form [formGroup]="loginForm" class="mt-8 space-y-6">
    <div class="rounded-md space-y-4">      
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input id="email" type="email" required placeholder="Email" formControlName="email" 
        class="appearance-none relative block w-full px-3 py-2 border border-gray-500 
        placeholder-gray-500 text-gray-900 rounded-md focus:outline-none 
        focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input id="password" type="password" required placeholder="Contraseña"
            formControlName="password"
            class="appearance-none relative block w-full px-3 py-2 border border-gray-500 
            placeholder-gray-500 text-gray-900 rounded-md focus:outline-none 
            focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
    </div>
    
    <app-button-submit textValue="Iniciar Sesión" (clicked)="onSubmit()"></app-button-submit>
</form>