<h1 class="text-2xl font-bold">Niveles de {{linkTitle}}</h1>

<div class="flex flex-col gap-4">
    <form [formGroup]="form" class="flex items-center justify-between gap-4">
        <div class="flex-1">
          <label for="nombre" class="text-sm font-medium">Nombre</label>
          <input type="text" class="w-full p-2 rounded-md border border-gray-300" id="descripcion" formControlName="descripcion">
          <input type="hidden" id="idlink" formControlName="idlink">
        </div>
        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md whitespace-nowrap mt-6" (click)="isedit ? edit() : nuevo()">{{ isedit ? 'Editar' : 'Agregar Nivel' }}</button>
      </form>
</div>

@if(linksvm.list.length > 0){
  <app-table [columnas]="linksvm.columns" [data]="linksvm.list" (btnedit)="onEdit($event)" (btndelete)="onDelete($event)" (changeItemsPerPage)="onChangeItemsPerPage($event)" (clickpagina)="onClickPagina($event)" [totalItems]="linksvm.totalItems" [totalPaginas]="linksvm.totalPaginas"></app-table>
}