<h1 class="text-2xl font-bold">
  {{isedit ? "Editar Link" : "Crear Link"}}
</h1>

<form [formGroup]="formcart"class="mt-8 space-y-6 grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Primera columna -->
  <div class="space-y-4">
    @if(rutaimagen != ''){
      <div class="col card-icon unselectable">
        <div class="card-icon-item card-icon-item-base card-info-base">
          <img id="background-card-icon" [src]="rutaimagen" alt="background" class="h-[120px]" />
        </div>
        <div class="card-icon-item card-info-lwf" style="">
          <canvas id="card-84510906" height="150" width="150" style="user-select: none; transform: translateZ(0px);"></canvas>
        </div>
      </div>
    }
    <div>
      <label class="block text-sm font-medium text-gray-700">Email</label>
      <input type="email" class="mt-1 p-2 w-full border rounded-md focus:ring focus:ring-blue-200" placeholder="correo@example.com">
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Teléfono</label>
      <input type="tel" class="mt-1 p-2 w-full border rounded-md focus:ring focus:ring-blue-200" placeholder="Tu teléfono">
    </div>
  </div>

  <!-- Segunda columna -->
  <div class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Tipo de carta</label>
      <select id="combotipos" class="mt-1 p-2 w-full border rounded-md focus:ring focus:ring-blue-200" (change)="onSelectTipo($event)">
        <option value="0">Selecciona un tipo</option>
        @for(tipo of alltipos; track tipo.id){
          <option value="{{tipo.id}}">{{tipo.nombre}}</option>
        }
      </select>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Nivel de carta</label>
      <select id="combo-nivel-carta" class="mt-1 p-2 w-full border rounded-md focus:ring focus:ring-blue-200" (change)="onSelectNivel($event)">
        <option value="0">Selecciona un nivel</option>
        @for(carta of allnivelcarta; track carta.id){
          <option value="{{carta.id}}">{{carta.nombre}}</option>
        }
      </select>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
      <input type="date" class="mt-1 p-2 w-full border rounded-md focus:ring focus:ring-blue-200">
    </div>
  </div>

  <!-- Botón enviar, ocupa ambas columnas -->
  <div class="md:col-span-2 flex justify-end">
    <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="onSubmit()">
      {{isedit ? "Editar" : "Crear"}}
    </button>
  </div>
</form>